html {
    background-color: #666666;
    padding: 0;
    text-align: center;
}
input:focus {
    outline: none;
}
h1 {
    margin: 50px;
    font-size: 100px;
}
h2 {
    margin: 15px;
    font-size: 30px
}
li {
    list-style-type: none;
}
ul {
    padding: 0;
}
button {
    border: none;
    cursor: pointer;
}
button:focus {
    outline: none;
}
button:active {
    transform: scale(0.95);
}
.mainBt {
    width: 120px;
    margin: 10px;
    padding: 5px;
    background-color: #04640f;
    font-size: 40px;
}
.wraper {
    width: 630px;
    margin: auto;
    position: relative;
}
.tabs {
    margin: 0;
    position: absolute;
    top: -33px;
}
.tabs li {
    width: 150px;
    padding: 5px;
    border-radius: 20px 0 0 0;
    box-sizing: border-box;
    display: inline-block;
    cursor: pointer;
    font-size: 20px;
}
.tab_no_active {
    background-color: #585858;
}
.tab_active{
    background-color: #414141;
}
.page {
    width: 600px;
    margin: 0 auto;
    padding: 15px;
    background-color: #414141;
    position: absolute;
    top: 0px;
    left: 0px;
}
.stoper {
    width: 370px;
    margin: auto;
    border: 2px solid black;
    background: #555555;
}
.stoper > :nth-child(2) {
    background-color: #db1100;
}
.clearBt {
    width: 100%;
    margin: 0;
    background-color: #ffff00;
}
.stoper p {
    margin: 0;
    font-size: 70px;
    text-align: center;
    color: #cccccc;
}
.display {
    display: none;
}
.scoreboard {
    width: 500px;
    margin: 0 auto;
    background-color: #594bc3;
    border: 3px black solid ;
    text-align: left;
    font-size: 30px;
}
.scoreboard li {
    padding-left: 15px;
    position: relative;
}
.stopBt {
    background-color: #db1100;
}
.scoreboard li:nth-child(2n-1) {
    background-color: #483ab2;
}
.closeBt {
    width: 30px;
    height: 30px;
    background-color: transparent;
    position: absolute;
    right: 10px;
}
.closeBt:after, .closeBt:before {
    content: "";
    width: 30px;
    height: 5px;
    border-radius: 5px;
    background-color: #ff0000;
    position: absolute;
    left: 0;
    top: 13px;
    transform: rotate(45deg);
}
.closeBt:before {
    transform: rotate(-45deg);
}
.timeLoad {
    width: 200px;
    margin: 5px auto;
}
.timeLoad input{
    width: 60px;
    height: 40px;
    padding: 2px;
    border: none;
    background-color: #9db536;
    font-size: 18px;
    font-weight: 800;
}
.alarmModal {
    height: 200px;
    width: 300px;
    border: 5px solid #001674;
    box-sizing: border-box;
    background-color: #001674;
    position: absolute;
    top: 100px;
    left: 165px
}
.alarmModal p {
    padding: 30px;
    background-color: #dd0000;
}
.alertControl {
    height: 40px;
    padding: 5px;
    position: relative;
    text-align: left;
}
.alarmBt {
    width: 60px;
    height: 40px;
    border-radius: 15px;
    font-size: 15px;
}
.napBt{
    display: inline-block;
    background-color: #800080;
}
.stopSound {
    background-color: #db1100;
    position: relative;
}
.stopSound:before {
    content: '';
    width: 25px;
    height: 25px;
    background-color: #ffffff;
    position: absolute;
    top: 7.5px;
    left: 17.5px;
}
.napIn {
    width: 70px;
    height: 40px;
    border: none;
    box-sizing: border-box;
    background-color: #7103c1;
    font-size: 15px;
    text-align: center;
}
.setSound {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1;
}

.soundWrap {
    width: 125px;
    padding-top: 40px;
    background-color: #333333;
    position: absolute;
    top: 0px;
    right: -70px;
    text-align: left;
}
.soundWrap label {
    display: block;
    margin: 15px 0;
    font-size: 25px;
    color: #ffffff;
}
